@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
	background: url('https://cdn.pixabay.com/photo/2016/11/18/16/51/leaves-1835780_1280.jpg');
}

header section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	color: ghostwhite;
}

header .shop-name {
	display: flex;
	align-items: center;
}

header .shop-name .logo img {
	margin: 12px 20px;
	width: 50px;
}

.search-bar-input {
	min-width: 200px;
	height: 35px;
	color: #333;
	padding-left: 5px;
	width: 300px;
}

nav {
	margin-right: 40px;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	transition: color 0.3s;
	letter-spacing: 1px;
	color: ghostwhite;
}

nav ul li a:hover {
	color: #a6de91;
	cursor: pointer;
}

/* #418c74
#428d74
#154d3b
#26614d

#a6de91

#dae2dd
#f9f8f8 */
