body {
	width: 100%;
	height: 400px;
	background-image: url('../assets/background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.search-bar input {
	min-width: 200px;
	height: 35px;
	color: #333;
	padding: 5px;
	width: 300px;
	font-size: 15px;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255, 0.3);
}

.filter-bar {
	margin: 15px;
}

.filter-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 25px;
}
.filter-items button {
	background: #333;
	opacity: 0.5;
	font-size: 16px;
	padding: 10px;
	margin-right: 15px;
	list-style: none;
	border: none;
	letter-spacing: 1px;
	text-decoration: none;
	color: ghostwhite;
	text-transform: uppercase;
	transition: background-color 0.5s, color 0.5s;
	box-shadow: 8px 8px 26px -7px rgba(66, 68, 90, 1);
	border-radius: 8px;
}

.filter-items button:hover {
	color: #333;
	background-color: #dae2dd;
	border-radius: 8px;
}

.filter-items button.active {
	background-color: #a6de91;
	opacity: 1;
	border-radius: 8px;
	color: #333;
	font-weight: bold;
}

.products-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.product-item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 400px;
	margin: 5px;
	transition: box-shadow 0.3s;
	overflow: hidden;
}

.product-item:hover {
	box-shadow: 8px 8px 26px -7px rgba(66, 68, 90, 1);
	cursor: pointer;
}

.product-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.product-item:hover img {
	transform: scale(1.1);
}

.product-description {
	position: absolute;
	bottom: 0;
	background-color: rgba(65, 140, 116, 0.6);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 0.8px;
	padding: 8px;
}

.product-item .product-category,
.product-id {
	display: none;
}

.product-name {
	font-size: 20px;
	font-weight: bold;
}

footer {
	width: 100%;
	height: 100px;
	background-color: #000905;
	display: flex;
	justify-content: center;
	align-items: center;
	color: ghostwhite;
	gap: 25px;
}

.contact {
	display: flex;
	flex-direction: column;
}

.contact a {
	color: ghostwhite;
	text-decoration: none;
	padding: 5px;
}
